.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
   --primary-color: black;
   --seconary-color: white;
   --tertiary-color: black;
   --quatarnary-color: cyan;
}
.light-theme{
    --primary-color:white;
    --seconary-color:black;
    --tertiary-color:white;
    --quatarnary-color: orange;
}
#icon{
    width: 30px;
    cursor: pointer;
    z-index: 3;
}

#icon :hover {
     cursor: pointer;
}
.container{
    width: 100%;
    height: 100%;
    background: var(--quatarnary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calc{
    margin: 10px;
    height: 36rem;
    width: 22rem;
    background-color:var(--primary-color);
    padding: 20px;
    border-radius: 10px;
}
.Calc form {
    width: 100%;
}
.Calc form div {
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.Calc form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: -2px -4px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color:var(--seconary-color);
    cursor: pointer;
    transition: .5s;
}
.Calc form input[type = button]:hover{
    transform: scale(1.1);
    background-color:var(--tertiary-color);
    color:var(--seconary-color);
    
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: center;
    flex: 1;
    border-radius: 50px;
    font-size: 45px;
    box-shadow:-8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
#equal{
    color: black;
    background-color: red;
}
form input.firstRow, form input.lastColumn{
    background-color: var(--quatarnary-color);
    color: black;
}
form h1{
    color:var(--seconary-color);
    text-align: center;
    padding: 5px;
    border-radius: 10px;

}
#icon{
    float: right;
}
body {
    margin: 0;
}

@media screen and (max-width : 640px) {
    .Calc {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        margin: 0;
        padding: 0 20px;
        border-radius: 0;
    }

}